:root {
    /* Colors */
    --clr-dark: #000000;
    --clr-dark-grey: #171717;
    --clr-light: #ffffff;
    --clr-grey: #d1d5db;
    --clr-lighter-dark-grey: #1e232b;
    --clr-main: #6495ED;
    --clr-dark-red: #bb1111;
    --text-gradient: linear-gradient(180deg, #ffffff, #adadad);

    /* Sizes */
    --size-xxs: 0.65rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5.9rem;
    padding-left: 2.25rem;
    padding-bottom: 2rem;
}

.scroll_header {
    background: var(--clr-main);
    width: 100%;
    height: 26.5px;
}

.header_menu {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 3em;
}

.header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 800;
    width: 68.25px;
    margin-right: 10px;
    height: 68.25px;
    color: var(--clr-dark);
    border: 5px solid var(--clr-dark);
    border-radius: 0.375rem;
}

.header_link {
    position: relative;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 800;
    letter-spacing: 0.075em;
    color: var(--clr-dark);
    padding-left: 5px;
    padding-right: 5px;
    z-index: 10;
    background-image: linear-gradient(120deg, #35D399 0%, #35D399 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.25em;
    background-position: 0 95%;
    transition: all 0.2s ease-in;
}


.header_link:hover {
    background-size: 100% 100%;
    transition: all 0.2s ease-in;
}

.header_line {
    border: 1px solid var(--clr-grey);
    padding-top: 1.5em;
}

.header_sun {
    display: block;
    background: none;
    color: var(--clr-light);
    width: var(--size-xl);
    height: var(--size-xl);
    cursor: pointer;
    transition: color 0.3s;
}

.header_sun:hover {
    color: var(--clr-main);
    transition: color 0.3s;
}

/* Responsive Section */

/* xs */
@media (max-width: 475px) {}

/* sm */
@media (max-width: 640px) {}

/* md */
@media (max-width: 768px) {
    .header_menu {
        display: none;
    }
}

/* lg */
@media (max-width: 1024px) {}

/* xl */
@media (max-width: 1280px) {}

/* 2xl */
@media (max-width: 1536px) {}