:root {
    /* Colors */
    --clr-dark: #000000;
    --clr-dark-grey: #171717;
    --clr-light: #ffffff;
    --clr-grey: #d1d5db;
    --clr-lighter-dark-grey: #1e232b;
    --clr-main: #6495ED;
    --clr-dark-red: #bb1111;
    --text-gradient: linear-gradient(180deg, #ffffff, #adadad);

    /* Sizes */
    --size-xxs: 0.65rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.header_menu {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 2em;
}

.header_link {
    font-size: var(--size-lg);
    font-weight: 600;
    color: var(--clr-grey);
    letter-spacing: -0.05em;
    transition: color 0.3s;
}

.header_link:hover {
    color: var(--clr-main);
    transition: color 0.3s;
}

.header_line {
    border: 1px solid var(--clr-grey);
    padding-top: 1.5em;
}

.header_sun {
    display: block;
    background: none;
    color: var(--clr-light);
    width: var(--size-xl);
    height: var(--size-xl);
    cursor: pointer;
    transition: color 0.3s;
}

.header_sun:hover {
    color: var(--clr-main);
    transition: color 0.3s;
}

/* Responsive Section */

/* xs */
@media (max-width: 475px) {}

/* sm */
@media (max-width: 640px) {}

/* md */
@media (max-width: 768px) {
    .header_menu {
        display: none;
    }
}

/* lg */
@media (max-width: 1024px) {}

/* xl */
@media (max-width: 1280px) {}

/* 2xl */
@media (max-width: 1536px) {}