@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Colors */
  --clr-dark: #080808;
  --clr-dark-grey: #0e0e0e;
  --clr-light: #ffffff;
  --clr-grey: #929292;
  --clr-lighter-dark-grey: #1e232b;
  --clr-main: #50C878;
  --clr-dark-red: #bb1111;

  /* Sizes */
  --size-xxs: 0.65rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

::selection {
  background: var(--clr-main);
}

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--clr-dark);
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  min-height: 100dvh;
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  width: 7.5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--clr-light);
}

header {
  position: sticky;
  top: 0;
  min-height: 100px;
}

main {
  min-height: 100dvh;
}

#scroll_up--container {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 3px solid var(--clr-main);
  opacity: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

#scroll_up--container:hover {
  background: var(--clr-main);
  transition: all 0.3s;
}

#scroll_up--container:active,
#scroll_up--container:focus {
  border: 3px solid var(--clr-main);
  background: transparent;
  transition: all 0.3s;
}

#scroll_up--button {
  color: var(--clr-main);
  text-decoration: none;
  font-size: 2rem;
  transition: all 0.3s;
}

#scroll_up--container:hover #scroll_up--button {
  color: var(--clr-light);
}

.navbar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 5rem;
  margin-right: 5rem;
  gap: 25px;
}

.nav_list {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
}

.nav_logo {
  margin-right: auto;
  text-decoration: none;
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--clr-main);
  transition: all 1s;
}

.nav_logo span {
  margin-right: auto;
  color: var(--clr-light);
  transition: all 1s;
}

.nav_logo:hover {
  color: var(--clr-light);
  transition: all 0.7s;
}

.nav_logo:hover span {
  color: var(--clr-main);
  transition: all 0.7s;
}

.nav_list li a {
  position: relative;
  color: var(--clr-light);
  font-size: 1rem;
  transition: all 0.45s;
  font-weight: 500;
  text-decoration: none;
}

.nav_list li a::before {
  content: '';
  background: var(--clr-main);
  height: 2.5px;
  width: 0px;
  position: absolute;
  bottom: -5px;
  transition: all 0.45s;
}

.nav_list li a:hover::before {
  width: 50px;
  transition: all 0.35s;
  color: var(--clr-main);
}

.nav_list li a:hover {
  transition: all 0.35s;
  color: var(--clr-main);
}

.github_btn {
  border: 2px solid var(--clr-main);
  color: var(--clr-main);
  padding: 3px 25px 3px 25px;
  border-radius: 5px;
  margin-left: 2.5px;
  transition: all 0.35s;
  text-decoration: none;
}

.github_btn:hover {
  background: var(--clr-main);
  color: var(--clr-light);
  transition: all 0.35s;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 9999;
}

.nav_bar {
  width: 30px;
  height: 3px;
  background: var(--clr-light);
  margin: 4px 0;
  transition: 0.4s;
}

.nav_bar:nth-child(1) {
  width: 30px;
}

.nav_bar:nth-child(2) {
  width: 25px;
}

.nav_bar:nth-child(3) {
  width: 20px;
}

.hamburger.open .nav_bar:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

.hamburger.open .nav_bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .nav_bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
  width: 30px;
}

.footer_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--clr-light);
}

@media screen and (max-width: 917px) {
  .nav_list {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}